@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #0f0;
  font-family: "Courier New", monospace;
  overflow: hidden; /* Prevents scrolling like a real OS */
}
